@media screen and (min-width:1367px){
    #headerWrap{
        width: 100%;
        height: 130px;
        background-color: aquamarine;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #logoBox{
        width: 100px;
        height: 80px;
        border: 1px solid red;
        margin-left: 20px;
    }
    #gnv{
        width: 1500px;
        height: 80px;
        border: 1px solid red;
    }
    #gnvMenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #loginBox{
        width: 200px;
        height: 80px;
        border: 1px solid red;
        margin-right: 20px;
    }
}
@media screen and (min-width:768px) and (max-width:1366px){

}
@media screen and (max-width:767px){

}