@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}
a{
    text-decoration: none;
    color: #111;
}
ul,ol{
    list-style: none;
}
body{
    background-color: #EBEFF2;
    padding: 0 280px;
}
.searchBox,.statistics,.AinputBox,.AcontentBox{
    background-color: #fff;
    border: 2px solid #e5e9ec;
    width: 90%;
    margin: 0 auto;
    padding: 24px 10px;
    margin-top: 120px;
}
.searchBox{
    height: 30px;
}
.statisticsWrap{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statisticsBox{
    width: 270px;
    height: 170px;
    display: flex; 
    justify-content: space-around;       
    align-items: center;
    position: relative;
    margin: 0 4px;
}
#statisticsBoxFont{
    font-weight: bolder;
    font-size: 40px;
    position: absolute;
    bottom: 45px;
    right: 50px;
}
.statisticsBoxFont2{
    position: absolute;
    top: 45px;
    left: 50px;
    font-size: 24px;
}
.statisticsBox:nth-child(1){
    background-color: #4678A9;  
    font-size: 25px;    
    color: white;       
}
.statisticsBox:nth-child(2){
    background-color: #F56B60;
    font-size: 25px;
    color: white;
}
.statisticsBox:nth-child(3){
    background-color: #A4B241;
    font-size: 25px;
    color: white;
}
.statisticsBox:nth-child(4){
    background-color: #E6B407;
    font-size: 25px;
    color: white;
}

.AinputBox{
    height: 400px;
}
.AcontentBox{
    height: 800px;
}
table,td,th{
    border : 1px solid black;
    border-collapse : collapse;
}
table{
    width: 100%;
}
.contentWrap{
    width: 1100px;
    margin-left: 280px;
    margin: 0 auto;
}