@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}
a{
    text-decoration: none;
    color: #111;
}
ul,ol{
    list-style: none;
}
body{
    background-color: #EBEFF2;
    padding: 0 280px;
}
.searchBox,.statistics,.AinputBox,.AcontentBox{
    background-color: #fff;
    border: 2px solid #e5e9ec;
    width: 90%;
    margin: 0 auto;
    padding: 24px 10px;
    margin-top: 120px;
}
.searchBox{
    height: 30px;
}
.statisticsWrap{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statisticsBox{
    width: 270px;
    height: 170px;
    display: flex; 
    justify-content: space-around;       
    align-items: center;
    position: relative;
    margin: 0 4px;
}
#statisticsBoxFont{
    font-weight: bolder;
    font-size: 40px;
    position: absolute;
    bottom: 45px;
    right: 50px;
}
.statisticsBoxFont2{
    position: absolute;
    top: 45px;
    left: 50px;
    font-size: 24px;
}
.statisticsBox:nth-child(1){
    background-color: #4678A9;  
    font-size: 25px;    
    color: white;       
}
.statisticsBox:nth-child(2){
    background-color: #F56B60;
    font-size: 25px;
    color: white;
}
.statisticsBox:nth-child(3){
    background-color: #A4B241;
    font-size: 25px;
    color: white;
}
.statisticsBox:nth-child(4){
    background-color: #E6B407;
    font-size: 25px;
    color: white;
}
.AinputBox{
    height: 400px;
}
.AcontentBox{
    height: 800px;
}
table,td,th{
    border : 1px solid black;
    border-collapse : collapse;
}
table{
    width: 100%;
}
.contentWrap{
    width: 1100px;
    margin-left: 280px;
    margin: 0 auto;
}
.AinputBox{
    width: 1130px;
}
.RmCountOne{
    text-align: center;
}

/* 캐러셀 */
.carousel-wrap {
    margin: 90px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
  }

  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
  }

  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }

  .owl-nav i {
    font-size: 52px;
  }

  .owl-nav .owl-prev {
    left: -30px;
  }

  .owl-nav .owl-next {
    right: -30px;
  }


/* 승호 CSS */
input{
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
select{
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
    /* 버튼 */
.btn-3d {
    border: none;
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding: 10px 40px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-3d.green:hover  {background-color: #3d4f66;}
.btn-3d:active {top: 9px;}
.btn-3d.green {
    background-color: #42566e;
    box-shadow: 0 0 0 1px #42566e inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 8px 0 0 #42566eb6,
          0 8px 0 1px rgba(0,0,0,.4),
          0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.green:active {
    box-shadow: 0 0 0 1px #42566e inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 0 0 1px rgba(0,0,0,0.4);
}   
thead th{text-align: center;}
.tableTitle td{text-align: center;}
/* 승호 CSS END */