
#menuWrap{
    width: 280px;
    height: 100%;
    background-color: #42566e;
    position: fixed;
    top: 0;
    left: 0;
}
#logoBox{
    width: 100px;
    height: 80px;
    /* border: 1px solid red; */
    margin: 0 auto;
    
}
#sideNav{
    background-color: #42566e;
    position: absolute;    
}
#sideNav > ul > li > .topMenu{
  color: white;
  margin: 30px;
    
  cursor: pointer;
}

.subMenu {
    background-color: white;
    /* box-shadow: 0 2px 5px rgba(157, 36, 36, 0.1); */
    border-right: 1px solid #d1d9dc;
    min-width: 280px;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0s ease;
  }
  
  .subMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .subMenu ul li {
    padding: 15px;
    
    transition: background-color 0.3s ease;
  }
  
  .subMenu ul li:hover {
    background-color: #f0f0f0;
  }
.subMenu.active{
    max-height: 200px;
    transition: max-height 0.8s ease;
}




/* 로그인 정보 (로그아웃 ) */
#loginCss{
  margin-top: 700px;
  margin-left: 30px;
}
.logoutSpan{
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}