
    #menuWrap{
        width: 280px;
        height: 100%;
        background-color: #394F66;
        position: fixed;
        top: 0;
        left: 0;
    }
    #logoBox{
        width: 100px;
        height: 80px;
        border: 1px solid red;
        margin-left: 20px;
    }
    #sideNav{
        background-color: #394F66;
    }
    .subMenu {
        background-color: #6b8db1;;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        min-width: 200px;
        z-index: 1;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0s ease;
      }
      
      .subMenu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      
      .subMenu ul li {
        padding: 10px;
        transition: background-color 0.3s ease;
      }
      
      .subMenu ul li:hover {
        background-color: #f0f0f0;
      }
    .subMenu.active{
        max-height: 200px;
        transition: max-height 0.8s ease;
    }


/* 로그인 정보 (로그아웃 ) */
#loginCss{
  position: relative;
  top: 800px;
  left: 40px;
}
.logoutSpan{
  display: inline-block;
  border: 1px solid red;
  
}